body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: snow;
}

.container {
width: 80%;
margin: 0 auto;
overflow: hidden;
}

header {
background: black;
color: white;
padding-top: 30px;
min-height: 70px;
border-bottom: 5px solid white;
}

header a {
color: white;
text-decoration: none;
font-size: 16px;
}

header .container {
display: flex;
justify-content: space-between;
align-items: center;
}

nav {
background: black;
color: white;
padding-top: 10px;
padding-bottom: 10px;
}

nav .container {
display: flex;
justify-content: space-between;
align-items: center;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
}

nav li {
display: inline-block;
margin: 0 10px;
}

main {
padding: 20px;
}

.perm {
float: left;
margin-right: 20px;
border: 10px solid black;
padding: 10px;
border-radius: 10px;
}

.sights {
padding-top: 30px;
clear: both;
}

footer {
background: black;
color: white;
text-align: center;
padding: 10px;
margin-top: 20px;
}